@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@700&display=swap');

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background: #1f1517;
    color: #ffffff;
}

html {
    font-family: inter, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none ;
}

ul {
    list-style: none;
}

nav {
    max-width:  1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: now;
    justify-content: space-between ;
    align-items: center;


}

.logo {
    font-family: teko;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.menu {
    display: flex;
    flex-direction: now;
    gap: 1.5rem;
    color: #f6f3f080;
}

.Github {
    color: #fff2e7;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
}

.hero {
    background: #181012;


    max-width: 1120px;
    height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;

}

.hero-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-imagens-container {

}

.hero-imagens-container > figure > img {
    width: 100%;
    border-radius: 0.5rem;

}